@media (max-width: 1199px){

}
@media (max-width: 991px){
    .footer .footer-text,
    .home-section .home-text,
    .header .logo{
        padding-left: 20px;
    }
}
@media (max-width: 767px){
    .header .nav-toggler{
        display: flex;
        margin-right: 20px;
    }
    .header .nav{
        width: 100%;
        background-color: var(--white-300);
        text-align: center;
        padding: 20px 0;
        display: none;
    }
    .header .nav ul li{
        display: block;
        line-height: 50px;
    }
    .home-section .home-text,
    .home-section .home-img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .courses-section .course-item,
    .about-section .about-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home-section .home-text{
        text-align: center;
        margin-top: 50px;
    }
    .home-section .home-text p{
        padding-left: 0 20px;
    }
    .home-section .home-img{
        order: -1;
    }
}
@media (max-width: 575px){
    .home-section .home-text h2{
        font-size: 35px;
    }
    .footer .footer-course,
    .footer .footer-terms,
    .footer .footer-links,
    .footer .footer-text,
    .testimonial-section .testimonial-item .testimonial-item-inner .testimonial-info,
    .courses-section .course-item, 
    .about-section .about-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .testimonial-section .testimonial-item .testimonial-item-inner .testimonial-img{
        margin: auto;
        margin-bottom: 20px;
    }
    .footer .footer-terms,
    .footer .footer-links,
    .footer .footer-course{
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .footer .footer-text{
        margin-bottom: 20px;
    }
}